* text=auto eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary

Cargo.lock linguist-generated=true
web/package-lock.json linguist-generated=true
