params {
    sample_id = 'somite_spike'
    read_1 = "${projectDir}/.work/run/inputs/test_1.fastq.gz"
    read_2 = "${projectDir}/.work/run/inputs/test_2.fastq.gz"
    outdir = "${projectDir}/.work/run/results"
}

process {
    executor = 'local'
    cpus = 2
    memory = '2 GB'
    cache = 'deep'
    errorStrategy = 'terminate'

    withName: SOMITE_NODE_FASTP {
        publishDir = [path: "${params.outdir}/fastp", mode: 'copy', overwrite: true]
    }

    withName: SOMITE_NODE_FASTQC {
        publishDir = [path: "${params.outdir}/fastqc", mode: 'copy', overwrite: true]
    }
}
